################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HexapodController/copilot-chat
/.vs/HexapodController/CopilotIndices
/.vs/HexapodController/DesignTimeBuild
/.vs/HexapodController/FileContentIndex
/src/**/bin
/src/**/obj
/IKTest/**/bin
/IKTest/**/obj
/tests/**/bin
/tests/**/obj
/.vs/slnx.sqlite
/src/**/appsettings.Development.json
